absl-py==2.1.0
amqp==5.3.1
asgiref==3.8.1
astunparse==1.6.3
billiard==4.2.1
black==24.4.2
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.3.0
cycler==0.12.1
dj-database-url==2.1.0
Django==4.2.13
django-autocomplete-light==3.11.0
django-debug-toolbar==4.4.2
djangorestframework==3.15.1
filelock==3.17.0
flatbuffers==25.2.10
fonttools==4.56.0
fsspec==2025.2.0
gast==0.6.0
gevent==24.2.1
google-auth==2.38.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.70.0
gunicorn==22.0.0
h5py==3.13.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
Jinja2==3.1.5
keras==2.15.0
kiwisolver==1.4.7
kombu==5.3.7
lazy_loader==0.4
libclang==18.1.1
Markdown==3.7
MarkupSafe==3.0.2
matplotlib==3.9.4
ml-dtypes==0.2.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.9.0.80
opt_einsum==3.4.0
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
protobuf==4.23.4
psutil==7.0.0
psycopg2-binary==2.9.9
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.22.0
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
sqlparse==0.5.0
sympy==1.13.1
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.5.0
tifffile==2024.8.30
tomli==2.2.1
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
ultralytics==8.3.80
ultralytics-thop==2.0.14
urllib3==2.3.0
uuid==1.30
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
wrapt==1.14.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
