{% extends "base.html" %}

{% block page %}
  <li class="breadcrumb-item"><a href="{% url 'add_microscope_slide' %}">Lâminas</a></li>
  <li class="breadcrumb-item"><a href="{% url 'list_microscope_image' slide_id %}">{{ slide.slide_name }}</a></li>
  <li class="breadcrumb-item active">Adicionar Imagem</li>
{% endblock %}

{% block css %}
  <style>
      .data-console {
          width: 100%;
          min-height: 130px;
          overflow-y: scroll;
          border: 1px solid #ccc;
      }
  </style>
{% endblock %}

{% block content %}
  <section class="section" id="vue-app">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Classificação de Imagens de LV Humana</h5>

            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="contentarea">
                  <div class="camera h-100 w-100">
                    <video ref="video" class="h-100 w-100">Video não disponível.</video>
                  </div>
                  <div class="text-center mt-3 pre-capture">
                    <label for="cameraSelect" class="form-label">Selecionar Câmera</label>
                    <select v-model="selectedCamera" @change="changeCamera" class="form-control">
                      <option v-for="(device, index) in videoDevices" :key="index" :value="device.deviceId"
                              v-text="device.label || `Câmera ${index + 1}`">
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center align-content-center w-100">
              <textarea class="data-console w-50" readonly v-model="receivedData"></textarea>
            </div>
            <br><br>

            <div class="text-center">
              <div v-if="isInicio">
                <button class="btn btn-primary pre-capture m-2" @click="connectSerialPort">Iniciar</button>
                <a href="{% url 'list_microscope_image' slide_id %}" class="btn btn-secondary m-2">Voltar</a>
              </div>
              <div v-else>
                <div v-if="showMenu">
                  <button class="btn btn-primary pre-capture m-2" @click="writeSerial('configurar')">Configurar</button>
                  <button class="btn btn-success pre-capture m-2" @click="startCapture">Capturar</button>
                  <button class="btn btn-warning pre-capture m-2" @click="writeSerial('testar')">Testar</button>

                  <div class="mt-3">
                    <h5>Controle de Passos:</h5>
                    <button class="btn btn-info m-2" @click="writeSerial('positivo')">Positivo</button>
                    <button class="btn btn-danger m-2" @click="writeSerial('negativo')">Negativo</button>
                    <button class="btn btn-secondary m-2" @click="writeSerial('ok')">OK</button>
                  </div>

                  <div class="mt-3">
                    <label>
                      <input type="checkbox" v-model="saveLocal" />
                      Salvar localmente
                    </label>
                  </div>
                </div>

                <button class="btn btn-danger capture-started m-2" @click="disconnectSerialPort">Finalizar</button>
                <a href="{% url 'list_microscope_image' slide_id %}" class="btn btn-secondary">Voltar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascript %}
  <!-- Adicionando Vue.js via CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <script>
      document.addEventListener("DOMContentLoaded", () => {
          const app = Vue.createApp({
              data() {
                  return {
                      videoDevices: [],
                      selectedCamera: null,
                      streaming: false,
                      currentStream: null,
                      port: null,
                      reader: null,
                      receivedData: '',
                      isCameraStarted: false,
                      width: 1920,
                      height: 1080,
                      isInicio: true,
                      showMenu: false,
                      saveLocal: true, // Flag para salvar localmente ou no servidor
                      awaitingCapture: false, // Estado aguardando confirmação de captura
                      fileHandle: null,
                  };
              },
              mounted() {
                  this.getCameras();
              },
              methods: {
                  async getCameras() {
                      const devices = await navigator.mediaDevices.enumerateDevices();
                      this.videoDevices = devices.filter(device => device.kind === 'videoinput');
                      if (this.videoDevices.length > 0) {
                          this.selectedCamera = this.videoDevices[0].deviceId;
                          this.startCamera();
                      }
                  },
                  async startCamera() {
                      if (this.currentStream) {
                          this.currentStream.getTracks().forEach(track => track.stop());
                      }
                      try {
                          this.currentStream = await navigator.mediaDevices.getUserMedia({
                              video: {deviceId: this.selectedCamera ? {exact: this.selectedCamera} : undefined},
                          });
                          const videoElement = this.$refs.video;
                          videoElement.srcObject = this.currentStream;
                          videoElement.play();
                          this.streaming = true;
                      } catch (error) {
                          console.error('Erro ao acessar a câmera:', error);
                      }
                  },
                  async changeCamera() {
                      this.startCamera();
                  },
                  async connectSerialPort() {
                      try {
                          this.port = await navigator.serial.requestPort();
                          await this.port.open({baudRate: 9600});
                          this.isInicio = false;
                          this.readSerialData();
                      } catch (error) {
                          console.error('Erro ao conectar à porta serial:', error);
                      }
                  },
                  async writeSerial(data) {
                      try {
                          const writer = this.port.writable.getWriter();
                          const encoder = new TextEncoder();
                          const encodedData = encoder.encode(data + '\n'); // Adiciona '\n' para indicar o final do comando
                          await writer.write(encodedData);
                          writer.releaseLock();
                      } catch (error) {
                          console.error("Erro ao escrever na porta serial:", error);
                      }
                  },
                  async readSerialData() {
                      this.reader = this.port.readable.getReader();
                      try {
                          while (true) {
                              const {value, done} = await this.reader.read();
                              if (done) break;
                              const incomingData = new TextDecoder().decode(value);
                              this.receivedData += incomingData;
                              console.log('Dados recebidos:', this.receivedData);
                              this.$nextTick(() => {
                                  const consoleElement = document.querySelector('.data-console');
                                  consoleElement.scrollTop = consoleElement.scrollHeight;
                              });

                              if (this.receivedData.includes("menu")) {
                                  this.showMenu = true;
                                  this.receivedData = '';
                                  this.awaitingCapture = false;
                              }

                              if (this.awaitingCapture && incomingData.includes('0')) {
                                  console.log("Confirmação de captura recebida, iniciando captura.");
                                  await this.takePicture();
                              }
                          }
                      } catch (error) {
                          console.error('Erro ao ler dados da porta serial:', error);
                      } finally {
                          this.reader.releaseLock();
                      }
                  },
                  async startCapture() {
                      this.awaitingCapture = true;
                      this.writeSerial('capturar');
                  },
                  getCSRFToken() {
                      let csrfToken = null;
                      const cookies = document.cookie.split(';');
                      cookies.forEach(cookie => {
                          const [name, value] = cookie.trim().split('=');
                          if (name === 'csrftoken') {
                              csrfToken = value;
                          }
                      });
                      return csrfToken;
                  },

                  async takePicture() {
                      try {
                          // Cria um elemento canvas temporário para capturar a imagem
                          const canvas = document.createElement('canvas');
                          const context = canvas.getContext('2d');

                          // Ajusta o tamanho do canvas para a resolução máxima da câmera
                          const videoSettings = this.currentStream.getVideoTracks()[0].getSettings();
                          const maxWidth = 1920;
                          const maxHeight = 1080;
                          console.log('Resolução da câmera:', videoSettings.width, videoSettings.height);

                          canvas.width = maxWidth;
                          canvas.height = maxHeight;
                          context.drawImage(this.$refs.video, 0, 0, maxWidth, maxHeight);

                          await canvas.toBlob(async (blob) => {
                              if (this.saveLocal) {
                                  try {
                                      if (this.directoryHandle == null) {
                                          this.directoryHandle = await window.showDirectoryPicker();
                                      }

                                      const fileName = `${Date.now()}.png`;
                                      const fileHandle = await this.directoryHandle.getFileHandle(fileName, {create: true});

                                      const writableStream = await fileHandle.createWritable();
                                      await writableStream.write(blob);
                                      await writableStream.close();

                                      console.log(`Imagem ${fileName} salva com sucesso no diretório selecionado`);
                                      this.writeSerial(1); // Após captura, envia o comando "1" para indicar que a captura foi concluída
                                  } catch (error) {
                                      console.error('Erro ao salvar a imagem localmente:', error);
                                  }
                              } else {
                                  const formData = new FormData();
                                  formData.append("file", blob, "image.png");

                                  fetch(".", {
                                      method: "POST",
                                      body: formData,
                                      headers: {
                                          'X-CSRFToken': this.getCSRFToken()  // Include the CSRF token here
                                      },
                                  })
                                      .then((response) => {
                                          if (response.ok) {
                                              console.log('Imagem enviada com sucesso para o servidor');
                                              this.writeSerial(1); // Após captura, envia o comando "1" para indicar que a captura foi concluída
                                          } else {
                                              console.error('Erro ao enviar a imagem para o servidor');
                                              window.alert('Erro ao enviar a imagem para o servidor');
                                          }
                                      })
                                      .catch((error) => {
                                          {#alert#}
                                          console.error("Erro:", error);
                                          window.alert('Erro ao enviar a imagem para o servidor');
                                      });
                              }


                          }, 'image/png');
                      } catch (error) {
                          console.error('Erro ao capturar a imagem:', error);
                      }
                  },
                  async disconnectSerialPort() {
                      this.isInicio = true;
                      if (this.reader) {
                          await this.reader.cancel();
                          await this.reader.releaseLock();
                      }
                      if (this.port) {
                          await this.port.close();
                      }
                  },
              },
          }).mount('#vue-app');
      });
  </script>
{% endblock %}
