{% extends "microscope_slide/base.html" %}
{% block content %}

  <div class="container mt-5">
    <h1>Bem-vindo</h1>
    <p>Este é um sistema desenvolvido para fornecer diagnóstico automático de leishmaniose visceral através da análise
      de imagens microscópicas. Com a ajuda de técnicas de aprendizado profundo, o sistema analisa imagens de lâminas de
      microscopia para detectar a presença do parasita <i>Leishmania</i>. Através de uma plataforma automatizada, o
      processo de diagnóstico é agilizado, permitindo uma análise eficiente e precisa.</p>
    <!-- Incluindo o vídeo do YouTube -->
    <div class="embed-responsive embed-responsive-16by9 my-5">
    </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}